:root {
    --color-accent-0: #ffc8c8;
    --color-accent-1: #ff9f9f;
    --color-accent-2: #ff6b6b;
    --color-accent-3: #ff4d4d;
}


/* semantic color variables for this project */
:root {
    --color-background: #ffffff;
    --color-background-accent: var(--color-accent-1);
    --color-background-accent-soft: var(--color-accent-0);
    --color-background-soft: #f8f8f8;

    --color-border: var(--color-accent-2);
    --color-border-soft: var(--color-accent-1);
    --color-border-hover: var(--color-accent-3);

    --color-heading: var(--color-accent-3);
    --color-text: #472d2d;
    --color-text-accent: var(--color-accent-2);
    --color-text-white: #f8f8f8;

    --section-gap: 160px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
