@import './base.css';

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


@media (max-width: 1024px) {

}
